/* Contenedor del fondo */
.login-page-background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #1ba098 0%, #0f7e80 100%);
}

/* Contenedor principal centrado (card flotante) */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Efecto flotante cristalino */
    background: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 30px;
    padding: 40px 30px;
    width: 90%;
    max-width: 400px; /* límite de ancho */ 
    margin: 20px;

    /* Sombra profunda para el efecto de elevación */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Sección del Logo */
.header-logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo-icon {
    font-size: 60px;
    color: var(--ion-color-primary);
}

.app-title {
    font-size: 26px;
    font-family: serif;
    font-weight: 700;
    color: #333;
    margin-top: 10px;
    letter-spacing: 1px;
}

.app-subtitle {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}


.custom-input {
    --background: #f9f9f9;
    --padding-start: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: none; /* Sombra suave */
    border: 1px solid #eee;
}

/* Botón principal */
.login-button {
    margin-top: 30px;
    --border-radius: 12px;
    font-weight: 600;
    height: 50px;
    --box-shadow: 0 4px 12px rgba(0, 84, 233, 0.3);
}

/* Texto inferior */
.footer-text {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    color: #666;
}

.link-action {
    color: var(--ion-color-primary);
    font-weight: bold;
    cursor: pointer;
}



/* Base compartida */
ion-toast.custom-toast {
    --border-radius: 16px;
    --box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); 
    font-weight: 600; 
    text-align: center;
}


ion-toast.toast-error {
    --background: rgba(203, 40, 62, 0.85); 
    --color: #ffffff;
    --button-color: #ffffff;
}





ion-toast.custom-toast {
    --box-shadow: none;
    --background: transparent; 
    font-weight: 600;
}


ion-toast.custom-toast::part(container) {
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px; 
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.80);
    padding-inline: 10px;
}


ion-toast.custom-toast::part(message) {
    color: #000000; 
    text-align: center;
    font-size: 16px;
}


ion-toast.custom-toast::part(button) {
    color: #0054e9; 
    font-weight: bold;
}